.modal-make-appointment-confirm {
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #63ab45;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    text-transform: none;
}

.modal-make-appointment-cancel{
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color:black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    text-transform: none;
}